.main-blog {
    background-image: url(../images/background-image.png);
    background-repeat: no-repeat;
    background-position: 0 309px;
    background-size: cover;
}

.main__container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: clamp(55px, 6.66vw, 96px);
}

.main__breadcrumbs {
    margin-bottom: 30px;
}

.main__title {
    margin-bottom: 32px;
}

.main__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.main__categories__radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.main__categories-text {
    display: block;
    font-weight: 600;
    padding: 6px 8px;
    border: 1px solid var(--color-categories-border);
    border-radius: 24px;
    cursor: pointer;
}

.main__categories__radio:checked + .main__categories-text {
    border: 2px solid var(--color-secondary-button);
    background-color: var(--color-categories-selected-bg);
}

.main__categories__radio:focus + .main__categories-text {
    box-shadow: 0 0 5px 5px var(--shadow-focused);
    
}

.main__articles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 24px;
    gap: 24px;
}


.main__articles-link {
    grid-column: span 2;
    display: flex;
    transition: 0.2s;
}

.main__articles-link:first-child {
    grid-column: span 3;
}

.main__articles-link:nth-child(2) {
    grid-column: span 3;
}

.main__articles-link:hover {
    transform: scale(1.02);
}

.main__articles-link:focus   {
    box-shadow: 0 0 5px 5px var(--shadow-focused);;
}

.main__article {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-articles-border);
    border-radius: 15px;
    position: relative;

}

.main__article-image {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.main__articles-link:first-child .main__article-image {
    height: 260px;
    object-position: bottom;
}

.main__articles-link:nth-child(2) .main__article-image {
    height: 260px;
    object-position: bottom;
}

.main__tags {
    display: flex;
    gap: 8px;
    flex-direction: column;
    position: absolute;
    left: 8px;
    top: 8px;
}
.main__tags-item {
    padding: 6px 8px;
    border: 1px solid var(--color-categories-border);
    background-color: var(--color-tags-bg);
    border-radius: 24px;
    align-self: flex-start;
    margin-right: 8px;
}

.main__article-info {
    padding: 16px;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__article-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.main__author {
    display: block;
    font-size: 12px;
    letter-spacing: 0.25px;
    color: var(--color-text-author);
    margin-top: 4px;
}
.main__paragraph {
    margin-top: 8px;
}
.main__article-date {
    display: block;
    font-size: 12px;
    color: var(--color-article-notes);
    margin: auto 0 16px 16px;
}
.main__button {
    margin-top: clamp(28px, 3.88vw, 56px);
    align-self: center;
    padding: 12px 72.5px;
    border-radius: 4px;
    background-color: var(--color-primary-button);
    color: var(--color-text-light);
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s;
}

.main__button:hover {
    transform: scale(1.2);
}

.main__button:focus {
    box-shadow: 0 0 5px 5px var(--shadow-focused);
}

@media (max-width: 1024px) {
    .main {
        background-image: none;
    }
}

@media (max-width: 768px) {
    .main__articles {
        grid-template-columns: repeat(2, 1fr);
    }

    .main__articles-link {
        grid-column: span 1;
    }

    .main__articles-link:first-child {
        grid-column: span 2;
    }
    
    .main__articles-link:nth-child(2) {
        grid-column: span 2;
    }

    .main__articles-link:first-child .main__article-image {
        height: unset;
        object-position: bottom;
    }
    
    .main__articles-link:nth-child(2) .main__article-image {
        height: unset;
        object-position: bottom;
    }

}

@media (max-width: 476px) {
    .main__articles {
        grid-template-columns: 1fr;
    }

    .main__articles-link:first-child {
        grid-column: span 1;
    }
    
    .main__articles-link:nth-child(2) {
        grid-column: span 1;
    }

    .main__article-info {
        padding-bottom: 15vw;
    }

    .main__categories {
        flex-wrap: nowrap;
        overflow-y: scroll;
    }

    .main__catigories-link {
        white-space: nowrap;
    }
}