body {
    font-family: YesevaOne, serif;
    color: var(--color-text-primary);
}

button {
    background-color: transparent;
}

@supports (font-variation-settings: normal) {
    p {
        font-family: NunitoSans, sans-serif;
    }
}

p {
    font-family: NunitoSans, sans-serif;
    color: #FFFFFF;
}

