body {
    font-size: 14px;
    font-family: var(--font-family-primary);
    color: var(--color-text-primary);
    font-weight: 400;
}

    *:focus {
        outline: none !important;
        box-shadow: none !important;
    }

h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.logo:focus {
    box-shadow: 0 0 5px 5px var(--shadow-focused);
}

@media (max-width: 414px) {
    h1 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 24px;
        line-height: 32px;
    }
}