.wrapper {
    min-height: 100%;
    width: auto;
    overflow: hidden;
}

.container {
    padding: 0 60px;
    margin: 0 auto;
    max-width: 1200px;
    /* width: 100%; */
}

@media (max-width: 1165px) {
    .container {
        padding: 0 3.12vw;
    }
}

@media (max-width: 372px) {
    .container {
        padding: 0 16px;
    }
}